<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <a class="navbar-brand" href="#">Crud</a>
        <form>
          <mat-form-field>
            <input
             type="text"
             [matAutocomplete]="auto"
             [formControl]="myControl" matInput 
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let name of filteredOption | async" [value]="name">
                {{name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
  </nav>